node_modules
app.yaml
domain-mapping.yaml
domain-claim.yaml

# Application authorization keys
src/lib/server/tls/mtls/*.pem

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
